:root {
  --aside-width: 240px;
  --top-width: 72px;
  --tableTitle-color:#F8F9FC;
  --background-color:#F6F7FA;
  --table-color:#858796;
  --aside-bg: #2D2116;
}

.brand {
  background: var(--aside-bg);
  height: var(--top-width);
  width: var(--top-width);
}

.left-aside {
  width: var(--aside-width);
  padding-top: var(--top-width);
}

.main-content {
  margin: var(--top-width) 0 0 var(--aside-width);
  /* 上右下左 */
}

body{
  background: var(--background-color);
}
.table-title{
  background: var(--tableTitle-color);
}
.coupon-table{
  thead tr th{
      color: var(--table-color);
  }
  tbody tr td{
      color: var(--table-color);
  }
}
.errorTip {
  border-color: #F00;
}
